<% content_for :browser_title, title_with_error_prefix('Edit work history details', @work_history_form.errors.any?) %>
<% content_for :before_content, govuk_back_link_to(support_interface_application_form_path(application_form_id: params[:application_form_id]), 'Back to application') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @work_history_form, url: support_interface_application_form_update_work_history_path do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_radio_buttons_fieldset :choice, legend: { text: t('page_titles.restructured_work_history_choice'), size: 'xl', tag: 'h1' } do %>
        <%= f.govuk_radio_button :choice, :can_complete, label: { text: t('application_form.restructured_work_history.can_complete.label') }, link_errors: true %>
        <%= f.govuk_radio_button :choice, :full_time_education, label: { text: t('application_form.restructured_work_history.full_time_education.label') } %>
        <%= f.govuk_radio_button :choice, :can_not_complete, label: { text: t('application_form.restructured_work_history.can_not_complete.label') } do %>
          <%= f.govuk_text_area :explanation,
                                  label: { text: t('application_form.restructured_work_history.explanation.label') },
                                  hint: { text: t('application_form.restructured_work_history.explanation.hint_text') },
                                  max_words: 400,
                                  threshold: 90 %>
        <% end %>
        <%= f.govuk_text_field :audit_comment, label: { text: t('support_interface.audit_comment_ticket.label'), size: 'm' }, hint: { text: t('support_interface.audit_comment_ticket.hint') } %>
      <% end %>

      <%= f.govuk_submit t('save_and_continue') %>
    <% end %>
  </div>
</div>
